<!DOCTYPE html>
<html>
  <head>
    <% include ../includes/head.ejs %>
  </head>
  <body>
    <% include ../includes/components/header.ejs %>
    <div class="container">
      <div class="table-wrapper">
        <table class="bordered">
          <thead>
            <tr>
              <th>Klant</th>
              <th>Tijdstip</th>
              <th>Ontvangen</th>
              <th>Klaar</th>
              <th>Geleverd</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Klant één</td>
              <td>5 dec. 14u00</td>
              <td>
                <span>
                  <input name="status-klant-id-1" type="radio" id="test1" disabled="disabled" />
                  <label for="test1"></label>
                </span>
              </td>
              <td>
                <span>
                  <input name="status-klant-id-1" type="radio" id="test2" />
                  <label for="test2"></label>
                </span>
              </td>
              <td>
                <span>
                  <input name="status-klant-id-1" type="radio" id="test3" />
                  <label for="test3"></label>
                </span>
              </td>
            </tr>
            <tr>
              <td>Klant twee</td>
              <td>5 dec. 14u00</td>
              <td>
                <span>
                  <input name="status-klant-id-2" type="radio" id="test4" disabled="disabled" />
                  <label for="test4"></label>
                </span>
              </td>
              <td>
                <span>
                  <input name="status-klant-id-2" type="radio" id="test5" />
                  <label for="test5"></label>
                </span>
              </td>
              <td>
                <span>
                  <input name="status-klant-id-2" type="radio" id="test6" />
                  <label for="test6"></label>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <% include ../includes/foot.ejs %>
  </body>
</html>
