<!DOCTYPE html>
<html>
  <head>
    <% include ../includes/head.ejs %>
  </head>
  <body>
    <% include ../includes/components/header.ejs %>
    <div class="container">
      <div class="section">
        <h5 class="center-align">Kies een datum en tijdstip</h5>
        <div class="row">
          <div class="col s6">
            <label for="datum">Datum</label>
            <input type="text" id="datum" name="datum" class="datepicker">
          </div>
          <div class="col s6">
            <label for="tijdstip">Tijdstip</label>
            <input type="text" id="tijdstip" name="tijdstip" class="timepicker">
          </div>
          <div class="col s12">
            <a class="waves-effect waves-light btn right">button</a>
          </div>
        </div>
      </div>
      <div class="section center-align">
        <h5>Jouw status</h5>
        <ul class="collection">
          <li class="collection-item">
            <div>
              Klaar voor ophaal
              <span class="secondary-content">
                <i class="material-icons">check_circle</i>
              </span>
            </div>
          </li>
          <li class="collection-item">
            <div>
              Opgehaald
              <span class="secondary-content">
                <i class="material-icons">refresh</i>
              </span>
            </div>
          </li>
          <li class="collection-item">
            <div>
              Afgeleverd
              <span class="secondary-content">
                <i class="material-icons">check_circle</i>
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <% include ../includes/foot.ejs %>
  </body>
</html>
