/*  Layout
    ======================================================== */
$vertical-spacing: 6px;

/*  Colors
    ======================================================== */
$color-grey-xlight: #f7f7f7;

/*  Components
    ======================================================== */
$header-bg-color: $color-grey-xlight;
